
* {
    box-sizing: border-box;
    scroll-behavior:smooth;
}

body {
    font-family: "Grandstander", cursive;
    background-color: #eeebdd;
}


header {
    background-color: #810000;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 40px;
}

footer {
    font-size: 20px;
   background-color: #810000;
    width: 100%;
    padding: 40px; 
    color:#eeebdd;
    text-align: center;
}

header h1 {
    color: #eeebdd;
    font-weight: bold;
    float: left;
    font-size: 25px;
}

header nav {
    float: right;
    padding: 0 30px;
}

header nav ul li {
    display: inline-block;
    padding: 0 30px;
}

header nav ul li a {
    text-decoration: none;
    color: #eeebdd;
    text-transform: uppercase;
    font-size: 15px;
}

#ourStory h2 {

    font-size: 46px;
    text-align: center;
    margin: 37px;
}
#ourStory img {
    width: 100%;
}
#ourStory p {
    font-size: 25px;
    text-align: center;
}

#ourCookies {
    margin: 100px;
}

#ourCookies h2 {
    font-size: 46px;
    text-align: center;
    margin: 37px;
}
.cookiesImages {
    display: inline-block;
    width: 33%;
}

.cookiesImages h3 {
    margin: 10px;
    font-size: 20px;
}

.cookiesImages h4 {
    color: red;
    margin: 10px;
    font-size: 15px;
}

#ourLocations{
    margin: 100px;
    padding: 10px;
}

#ourLocations h2 {
 font-size: 46px;

}

#ourLocations ol li {
    font-size: 25px;
    margin: 20px;

}