* {
    font-family: Cinzel;
    scroll-behavior: smooth;
}
main{
   padding: 0 80px;
}

h1{
    color: brown;
    margin-top: 20px;
    font-size: 40px;
    text-align: left;
    padding: 20px;
    font-weight: bolder;
}

h2{
color: brown;
    font-size: 40px;
    text-align: left;
    margin-top: 150px;
    font-weight: bolder;
}

h3{

    font-size: 23px;
    text-align: left;
    padding: 20px;
    font-weight: bold;
    padding-left: 0;
    font-size: 30px;

}

h5 {
    font-size: 30px;
    text-align: left;
    padding: 20px;
    font-weight: bold;
    color: red;
}

#ourStory {
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
    
}

body{
    background-color:#E0D7AD;
}

footer {
    color: black;
    font-size: 25px;
    padding: 50px;
    text-align: center;
    clear: both;
    background-color: #BAB28F;
    
}
header {
    display: flex;
    align-items: center;
    background-color: #BAB28F;
    width: 100%;
    
}

header img {
    margin: 15px 80px ;
    width: 20%;
}

header nav {
    float: right;
    width: 70%;
    margin: 0px;
   
}

header nav ul li {
    width: 20%;
    display: inline-block;
    margin: 75px 0 ;
}


header nav ul li a {
    color: brown;
    font-family: Cinzel;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
}



/* image style  */



#firstchild {
    width: 100%;
     padding: 30px 30px ; */
     /* padding: 15px; */
}




#right {
 
    width: 50%;
    float: right;
}

#left {
    width: 50%;
    float: left;
}

#ourStores{
    clear:both;
    margin: 40px;
    padding: 20px 0;
}

#ourStores ol li {
    margin: 20px 0;
  font-size: 30px;
}

